---
layout: default
---

{{ content }}

<div class="columns is-multiline">
    {% for post in site.posts  %}
    <div class="column is-12">
        {% include post-card.html %}
    </div>
    {% endfor %}
</div>