---
layout: default
---

<div class="content">

    <p>Publicado em {{ page.date | date: "%b %-d, %Y" }} por {{ page.author }}</p>

    {{ content }}
</div>

<div class="tags">
    {% for tag in page.tags %}
    <span class="tag is-primary">{{ tag }}</span>
    {% endfor %}
</div>

{% unless site.hide_share_buttons %}
{% include share-buttons.html %}
{% endunless %}

{% if site.disqus.shortname %}
{% include disqus.html %}
{% endif %}